.keyboard_container {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin:auto;

}
.key {
    width:40px;
    height:40px;
    background:gray;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.key:hover {
    background: aquamarine;
}
.key.active {
    border-radius: 20px;
    background: aquamarine;
}

